node_modules
dist
.env
.DS_Store
.storage
*.log
coverage
.claude
test.txt

mc-server/eula.txt
mc-server/banned-ips.json
mc-server/banned-players.json
mc-server/crash-reports
mc-server/libraries
mc-server/logs
mc-server/ops.json
mc-server/server.jar
mc-server/server.properties
mc-server/usercache.json
mc-server/versions
mc-server/whitelist.json
mc-server/world
mc-server/world_nether
mc-server/world_the_end

packages/frontend/.vite
*.tsbuildinfo
.logs/
