level-type=minecraft\:flat
generator-settings={"layers":[{"block":"minecraft\:bedrock","height":1},{"block":"minecraft\:dirt","height":2},{"block":"minecraft\:grass_block","height":1}],"biome":"minecraft\:plains","features":false,"structures":false}
gamemode=creative
difficulty=peaceful
online-mode=false
enforce-secure-profile=false
spawn-protection=0
spawn-monsters=false
spawn-animals=false
spawn-npcs=false
enable-command-block=true
pvp=false
generate-structures=false
motd=QuizCraft Local Server
view-distance=8
simulation-distance=6
allow-flight=true
white-list=false
max-players=10
